section.filters {
        background-color: white;
        height: 70px;
        width: 100%;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        display: flex;
}

section.filters button {
        font-size: 18px;
        background-color: #FF5A5F;
        color: #FFFFFF;
        height: 48px;
        width: 20%;
        margin-left: auto;
        border: 0;
        border-radius: 4px;
        vertical-align: center;
        margin-right: 30px;
}

section.filters button:hover {
        opacity: 90%;
}

section.filters div {
	height: 100%;
	width: 25%;
        text-align: center;
        /* margin-left: 5%; */
}

section.filters div.locations {
	border-right: 1px solid #DDDDDD;
}

section.filters div h3{
	font-weight: 600;
	margin-bottom: 1px;
        margin-top: 5px;
	text-align: left;
        margin-left: 20%;
}

section.filters div h4{
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	text-align: left;
        margin-left: 20%;
}

ul.popover {
        position: relative;
        background-color: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        list-style: none;
        width: 90%;
        z-index: 1;
        margin-top: 30px;
        padding: 10px;
        text-align: left;
        display: none;
        max-height: 300px;
        overflow-y: auto; /* Add scrollbars when content overflows */
}

ul.popover h2 {
        font-size: 16px;
        margin-bottom: 1px;
}

div.locations:hover .popover {
        display: block;
 }

 div.amenities:hover .popover {
	display: block;
}

ul.popover p {
	margin-top: 1px;
	margin-bottom: 10px;
}