<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AirBnB</title>

        <link rel="stylesheet" href="../static/styles/4-common.css">
        <link rel="stylesheet" href="../static/styles/6-filters.css">
        <link rel="stylesheet" href="../static/styles/8-places.css">
        <link rel="stylesheet" href="../static/styles/3-header.css">
        <link rel="stylesheet" href="../static/styles/3-footer.css">
        <link rel="icon" type="icon" href="../static/images/icon.png">
</head>
<body>
        <header>
        </header>

        <div class="container">
                <section class="filters">
                        <div class="locations">
                                <h3>States</h3>
                                <h4>&nbsp;</h4>
                                <ul class="popover">
                                        {% for state in states %}
                                        <li>
                                                <h2>{{ state.name }}</h2>
                                                <ul>
                                                        {% for city in state.cities|sort(attribute='name') %}
                                                        <li><h4>{{ city.name }}</h4></li>
                                                        {% endfor %}
                                                </ul>
                                        </li>
                                        {% endfor %}
                                </ul>
                        </div>
                        <div class="amenities">
                                <h3>Amenities</h3>
                                <h4>&nbsp;</h4>
                                <ul class="popover">
                                        {% for amenity in amenities %}
                                        <li>
                                                <h4>{{ amenity.name }}</h4>
                                        </li>
                                        {% endfor %}
                                </ul>
                        </div>
                        <button>Search</button>
                </section>
                <section class="places">
                        <h1>Places</h1>
                        <article>
                                <h2>Our home</h2>
                                <div class="price_by_night">$40</div>

                                <div class="information">
                                        <div class="max_guest">3 Guest</div>
                                        <div class="number_rooms">8 Rooms</div>
                                        <div class="number_bathrooms">4 Bathrooms</div>
                                </div>

                                <div class="user">
                                        <b>Owner: </b>Paul Njenga
                                </div>

                                <div class="description">
                                        <p>This is a lovely 8 Bedrooms and 4 Bathrooms
                                                Apartment That can accomodate 5 people
                                                and 3 Guests at Nairobi.</p>
                                </div>
                        </article>

                        {% for place in places %}
                        <article>
                                <h2>{{ place.name }}</h2>
                                <div class="price_by_night">{{ place.price_by_night }}</div>

                                <div class="information">
                                        <div class="max_guest">{{ place.max_guest }} Guests</div>
                                        <div class="number_rooms">{{ place.number_rooms }} Rooms</div>
                                        <div class="number_bathrooms">{{ place.number_bathrooms }} Bathrooms</div>
                                </div>
                                <div class="user">
                                        <b>Owner: {{ users_dict[place.user_id] }} </b>
                                </div>
                                <div class="description">
                                        <p>{{ place.description | safe }}</p>
                                </div>

                        </article>
                        {% endfor %}
                </section>
        </div>

        <footer>
                <p>
                        Best School
                </p>
        </footer>

</body>
</html>